<body>
  <nav>
    <h1 class="text-center m-2"> Ruby Blog App </h1>
  </nav>

  <main>
    <section class="container my-4">
      <div class="row">
        <div class="col col-3">
          <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
        </div>
        <div class="col col-9 border">
          <div class="grid-username-container">
            <p class="username-header text-center"> <%= @user.Name %> </p>
            <p class="number-of-posts"> Number of Posts: <%= @user.Posts_Counter %> </p>
          </div>
        </div>
        </div>
    </section>
      <section class="container my-4 px-0">
        <div class="border bio-container p-4">
        <p> Bio </p>
        <p> <%= @user.Bio %></p>
        </div>
    </section>

    <% if @user.three_recent_posts.blank? %>
        <p class="text-center">There are not any posts currently in the system for this user.</p>
    <% else %>
      <% @user.three_recent_posts.each do |post| %>
        <section class="container my-4 px-0">
          <a href="<%= @user.id %>/posts/<%= post.id %>">
            <div class="border post-container p-4">
              <p> <%= post.Title %> </p>
              <p>
                <%= post.Text %>
              </p>
              <p class="comment-like-text text-end"> Comments: <%= post.Comments_Counter %>, Likes: <%= post.Likes_Counter %> </p>
            </div>
          </a>
        </section>
      <% end %>
    <% end %>

    <div class="container see-more-post-container my-2">
      <a href="<%= @user.id %>/posts" class="see-all-posts-button">
        <button type="button"  class="btn btn-lg"> See all posts </button>\
      </a>
    </div>
  </main>
</body>