<section class="container my-4 px-0">
      <div class="border post-container p-4">
        <div class="post-comment-container">
          <p class="h4"> <%= @post.Title %> by <%= @post.author.Name %> </p>
          <p class="comment-like-text text-end"> Comments: <%= @post.Comments_Counter %>, Likes: <%= @post.Likes_Counter %> </p>
        </div>
        <p>
          <%= @post.Text %> 
        </p>
        <div class="border comment-container p-2">
          <% if @post.comments.blank? %>
              <p class="text-center"> No comments on this post </p>
          <% else %>
             <% @post.comments.each do |comment| %>
                <p> <%= comment.author.Name %> : <%= comment.text %></p>
             <% end %>
          <% end %>
        </div>
      </div>
    </section> 